<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="content" th:remove="tag">

<table style="width:100%">
    <tr>
        <td style="width:1200px">
            <br>
            <table style="background-color: #848484; width: 100%">
                <!--<center>-->
                <tr height="40">
                    <td width="50%" align="center" bgcolor="#E6E6E6">신뢰도</td>
                    <td width="50%" bgcolor="ffffff" style="padding-left: 10" th:text="${/}"></td>
                </tr>
                <tr height="40">
                    <td width="50%" align="center" bgcolor="#E6E6E6">회원가입</td>
                    <td width="50%" bgcolor="ffffff" style="padding-left: 10" th:text="${/}"></td>
                </tr>
                <tr height="40">
                    <td width="50%" align="center" bgcolor="#E6E6E6">[넷플릭스 6개월]</td>
                    <td width="50%" bgcolor="ffffff" style="padding-left: 10" th:text="${/}"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>