<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav class="card card--cream card--pad-xl stack-sm" style="display:flex;flex-direction:column;">
    <p class="eyebrow" style="margin-bottom:var(--s-xs);">메뉴</p>
    <a class="tab" href="/user/info" style="justify-content:flex-start;text-align:left;">🧞 내 정보</a>
    <a class="tab" href="/user/potList" style="justify-content:flex-start;text-align:left;">🪔 내가 만든 팟 보기</a>
    <a class="tab" href="/user/joinPotList" style="justify-content:flex-start;text-align:left;">💜 내가 가입한 팟 보기</a>
    <a class="tab" href="/user/interestList" style="justify-content:flex-start;text-align:left;">♥ 찜 목록</a>
    <a class="tab" href="/report" style="justify-content:flex-start;text-align:left;">🚨 회원 신고</a>
</nav>
</body>
</html>
