<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/_variables.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/_bootswatch.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="logo_nav" src="../image/logo/logo_transparent.png" alt="로고">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
<!--
                <img src="../image/logo/logo_transparent.jpg" alt="로고">&ndash;&gt;
-->
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="ott" href="#">
                            <img class="ott_disney" src="../image/ott/disney.png" alt="disney 로고">
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="ott">
                        <a class="nav-item" href="#">
                            <img class="ott_netflix" src="../image/ott/netflix.png" alt="netflix 로고">
                        </a>
                    </li>
                    <li class="ott">
                        <a class="nav-item" href="#">
                            <img class="ott_watcha" src="../image/ott/watcha.png" alt="watcha 로고">
                        </a>
                    </li>
                    <li class="ott">
                        <a class="nav-item" href="#">
                            <img class="ott_wavve" src="../image/ott/wavve.png" alt="wavve 로고">
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">MyPage</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</body>
</html>