<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/_variables.css">
    <link rel="stylesheet" type="text/css" href="/css/_bootswatch.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="logo_nav" th:src="@{/image/logo/logo_transparent.png}" alt="로고">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="li-gap">
                    <a class="nav-item" href="#">
                        <img class="ott_disney" th:src="@{/image/ott/disney.png}" alt="disney 로고">
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="li-gap">
                    <a class="nav-item" href="#">
                        <img class="ott_netflix" th:src="@{/image/ott/netflix.png}" alt="netflix 로고">
                    </a>
                </li>
                <li class="li-gap">
                    <a class="nav-item" href="#">
                        <img class="ott_watcha" th:src="@{/image/ott/watcha.png}" alt="watcha 로고">
                    </a>
                </li>
                <li class="li-gap">
                    <a class="nav-item" href="#">
                        <img class="ott_wavve" th:src="@{/image/ott/wavve.png}" alt="wavve 로고">
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">MyPage</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">내 정보</a>
                        <a class="dropdown-item" href="#">내 팟 보기</a>
                        <a class="dropdown-item" href="#">회원 신고</a>
                            <!--<div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>-->
                    </div>
                </li>
            </ul>
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</body>
</html>