<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/_variables.css">
  <link rel="stylesheet" type="text/css" href="/css/_bootswatch.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.css" rel="stylesheet">
  <title>팟 생성</title>
</head>
<body>
<div th:include="/mainPage/navigator.html"></div>
<form action="@{/pot/createPot}" th:action th:object="${potCreateForm}" method="post">
  <div>
    <label for="potName">팟 이름</label>
    <input type="text" id="potName" name="potName" th:field="*{potName}" class="form-control" placeholder="팟 이름을 입력하세요">
<!--
    <p th:if="${#fields.hasErrors('potName')}" th:errorclass="error" th:errors="*{potName}" />
-->
  </div>
  <div>
    <label for="ottType">사용할 OTT 서비스 종류</label>
    <input type="text" id="ottType" name="ottType" th:field="*{ottType}" class="form-control" placeholder="ott종류를 입력하세요">
<!--
    <p th:if="${#fields.hasErrors('ottType')}" th:errorclass="error" th:errors="*{ottType}" />
-->
  </div>
  <div>
    <label for="price">가격</label>
    <input type="text" id="price" name="price" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요">
<!--
    <p th:if="${#fields.hasErrors('price')}" th:errorclass="error" th:errors="*{price}" />
-->

  </div>
  <div>
    <label for="recruit">모집 인원</label>
    <input type="text" id="recruit" name="recruit" th:field="*{recruit}" class="form-control" placeholder="모집인원을 입력하세요">
<!--
    <p th:if="${#fields.hasErrors('recruit')}" th:errorclass="error" th:errors="*{recruit}" />
-->
  </div>
  <div>
    <label for="term">사용기간</label>
    <input type="text" id="term" name="term" th:field="*{term}" class="form-control">
<!--
    <p th:if="${#fields.hasErrors('term')}" th:errorclass="error" th:errors="*{term}" />
-->
  </div>
  <div>
    <button type="submit" class="btn btn-secondary my-2 my-sm-0">취소</button>
    <button type="submit" class="btn btn-secondary my-2 my-sm-0">팟 생성하기</button>
  </div>
</form>
</body>
</html>