<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/_variables.css">
    <link rel="stylesheet" type="text/css" href="/css/_bootswatch.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH" crossorigin="anonymous">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script>
        function redirectToEdit(potId) {
            window.location.href = "/pot/edit/" + potId;
        }
        function redirectToDelete(potId) {
            window.location.href = "/pot/delete?potId=" + potId;
        }
        function redirectToApply(potId) {
            window.location.href = "/pot/apply?potId=" + potId;
        }
        function redirectToStart() {
            window.location.href = "/start";
        }
    </script>
</head>
<body>
<th:block th:if="${param.alreadyApply}">
    <script>
        top.alert("이미 가입 신청이 완료된 팟 입니다.");
    </script>
</th:block>
<th:block th:if="${param.applySuccess}">
    <script>
        top.alert("가입 신청이 완료되었습니다.");
    </script>
</th:block>
<div th:include="/mainPage/navigator.html"></div>
<div th:label="pot" class="outer">
<table>
    <thead>
        <tr>
            <td>
                팟 이름
            </td>
            <td th:text="${pot.potName}"></td>
        </tr>
        <tr>
            <td>
                OTT 종류
            </td>
            <td th:text="${pot.ottType}"></td>
        </tr>
        <tr>
            <td>
                모집인원
            </td>
            <td th:text="${pot.recruit}"></td>
        </tr>
        <tr>
            <td>
                남은 인원
            </td>
            <td th:text="${pot.remain}"></td>
        </tr>
        <tr>
            <td>
                기간
            </td>
            <td th:text="${pot.term}"></td>
        </tr>
        <!--<th>
            <td>
                팟장 이름
            </td>
            <td th:text="${potInfoObject.masterName}"></td>
        </th>-->
    </thead>
</table>
    <!--<tbody>
    <tr th:each="pot : ${potList}">
        <td th:text="${pot.potName}"></td>
        <td th:text="${pot.ottType}"></td>
        <td th:text="${pot.price}"></td>
        <td th:text="${pot.recruit}"></td>
        <td th:text="${pot.remain}"></td>
        <td th:text="${pot.term}"></td>
        <td th:text="${pot.ottId}"></td>
        <td th:text="${pot.ottPw}"></td>
        <td th:text="${pot.startDate}"></td>
        <td th:text="${pot.endDate}"></td>
        <td th:text="${pot.masterName}"></td>
    </tr>
    </tbody>-->
    <tbody>
    <tr th:if="${pot.isMaster}">
        <td>
            <button th:onclick="'redirectToEdit(' + ${pot.potId} + ')'" type="button" class="btn btn-primary">수정하기</button>
            <form action="/pot/delete" method="post" style="display: inline;">
                <input type="hidden" name="potId" th:value="${pot.potId}" />
                <button type="submit" class="btn btn-primary">삭제하기</button>
            </form>
        </td>
    </tr>
    <tr th:if="${!pot.isMaster}">
        <td>
            <button th:onclick="'redirectToApply('+${pot.potId}+')'" type="button" class="btn btn-primary">신청하기</button>
        </td>
    </tr>
    <tr th:if="${pot.isMaster && pot.remain == 0}">
        <td>
            <button onclick="redirectToStart()" type="button" class="btn btn-primary">시작하기</button>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>