<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/_variables.css">
    <link rel="stylesheet" type="text/css" href="/css/_bootswatch.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH" crossorigin="anonymous">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<body>
<div th:include="/mainPage/navigator.html"></div>
<table>
    <thead>
    <tr>
        <th>
            <td>
                팟 이름
            </td>
            <td th:text="${pot.potName}"></td>
        </th>
        <
        <th>OTT Type</th>
        <th>Price</th>
        <th>Recruit</th>
        <th>Remain</th>
        <th>Term</th>
        <th>OTT ID</th>
        <th>OTT Password</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Master Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pot : ${potList}">
        <td th:text="${pot.potName}"></td>
        <td th:text="${pot.ottType}"></td>
        <td th:text="${pot.price}"></td>
        <td th:text="${pot.recruit}"></td>
        <td th:text="${pot.remain}"></td>
        <td th:text="${pot.term}"></td>
        <td th:text="${pot.ottId}"></td>
        <td th:text="${pot.ottPw}"></td>
        <td th:text="${pot.startDate}"></td>
        <td th:text="${pot.endDate}"></td>
        <td th:text="${pot.masterName}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>