<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>genie 관리자</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/clay.css">
</head>
<body>
<nav class="clay-nav">
  <div class="clay-nav__inner">
    <a class="clay-nav__brand" href="#">
      <span class="mark">🧞</span>
      genie 관리자
    </a>
    <div class="clay-nav__menu">
      <a class="clay-nav__link" href="/user/userList">회원 관리</a>
      <a class="clay-nav__link" href="/report/list">신고 관리</a>
    </div>
    <div class="clay-nav__actions">
      <form th:action="@{/user/logout}" method="post" class="clay-nav__form">
        <button sec:authorize="isAuthenticated()" class="btn btn--secondary" type="submit">
          로그아웃
        </button>
      </form>
      <button onclick="document.location.href='/'" sec:authorize="hasRole('ADMIN')" class="btn btn--primary" type="submit">
        메인 페이지
      </button>
    </div>
  </div>
</nav>
</body>
</html>
