.logo_nav {
    width: 200px; /* 이미지 버튼의 가로 크기 */
    height: 200px; /* 이미지 버튼의 세로 크기 */
}
.ott {
    margin : 10px;
}
.ott_disney {
    width: 100px; /* 이미지 버튼의 가로 크기 */
    height: 100px; /* 이미지 버튼의 세로 크기 */
}
.nav-item {
    vertical-align: bottom;
}
.nav-item2 {
    margin-left: 80px;
}
.li-gap {
    margin-right: 130px;
}
.li-gap2 {
    margin-right: 130px;
    top: 10px;

}
 .error {
     color: red;
     font-size: 8px;
 }

.adopt_main_table {
    border: 3px solid black;
    border-collapse: collapse;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    width: 250px;
    height: 200px;
    font-family: 'Y_Spotlight', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    color: black;
    background-color: white;
    line-height: 22px;
}
.pic {
    border: 3px solid black;
    border-collapse: collapse;
    margin: auto;
    background-color: #e3f2fd;

}
.name, .ABOUT {
    border: 3px solid black;
    border-collapse: collapse;
    margin: auto;
}

.card-header {
    text-align:center;
}

.pot_list_table {
    /*border : none;
    border-collapse : collapse;
    border-radius : 10px;*/
    margin:auto;
    /*
    text-align:center;

    width:200px;
    height: 170px; */
    /*font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    color: Black;
    background-color: #e8e8e8;
    line-height: 22px;
    table-layout: fixed;*/
}

.card border-primary mb-3 {
    margin:auto;
}

.ott_disney {
    height:90px;
}
.ott_netflix {
    height:50px;
}
.ott_watcha {
    height:50px;
}
.ott_wavve {
    height:50px;
}

.logo_nav {
    margin-top: 0;
    width:100px;
    height:100px;
    position: relative; /* 버튼 위치를 상대적으로 설정 */
    top: 0px; /* 위로 20px 이동 */
    left: 10px; /* 왼쪽으로 10px 이동 */
}

.table table-hover {
    vertical-align: middle;
    margin:auto;
    text-align: center;
    align: center;
    width: 80%;
}

.loginForm{
    height:800px;
    width:800px;
    margin: auto;
    border-radius:8px;
    top: 100px;
    padding: 50px;
}
.loginFormInner{
    position: relative;
    margin: auto;
    border-radius: 13px;
    top: 50px;
    border: #E69A9C solid 2px;
    padding: 70px;
}
.signupForm{
    margin: auto;
    width: 1000px;
    height: 700px;
    padding: 40px;
}
.signupFormInner{
    margin: auto;
    border-radius:10px;
    border: #E69A9C solid 2px;
    padding: 80px;
}
.formOuterStyle{
    margin: auto;
    width: 1000px;
    height: 700px;
    padding: 40px;
}
.formStyle{
    margin: auto;
    border-radius:10px;
    border: #E69A9C solid 2px;
    padding: 80px;
}
.myPageOuterStyle{
    margin: auto;
    width: 1400px;
    height: 600px;
    padding: 40px;
}
.myPageStyle{
    margin: auto;
    border-radius:10px;
    border: #E69A9C solid 2px;
    padding: 80px;
}
