.logo_nav {
    width: 200px; /* 이미지 버튼의 가로 크기 */
    height: 200px; /* 이미지 버튼의 세로 크기 */
}
.ott {
    margin : 10px;
}
.ott_disney {
    width: 100px; /* 이미지 버튼의 가로 크기 */
    height: 100px; /* 이미지 버튼의 세로 크기 */
}
.nav-item {
    vertical-align: bottom;
}
.li-gap {
    margin-right: 70px; /* 아래쪽에 10px의 간격을 띄웁니다 */
}
 .error {
     color: red;
     font-size: 8px;
 }